ks-vendors-prefixes = false

@import "0-tools/typographic.styl"
typographic()
@import "0-tools/jeet/jeet.styl"
@import "0-tools/normalize.styl"
// @import "kouto-swiss"
// @import "nib"

@import '1-base/vars'
@import '1-base/global'

@import '2-modules/header.styl'
@import '2-modules/nav.styl'
@import '2-modules/resp-nav.styl'
@import '2-modules/main.styl'
@import "2-modules/buttons.styl"

@import '3-layouts/section.styl'
@import '3-layouts/helpers.styl'
@import '3-layouts/blog-index.styl'
@import '3-layouts/article.styl'

@import '4-sections/intro.styl'
@import '4-sections/photography.styl'
@import '4-sections/blog.styl'
@import '4-sections/design.styl'
@import '4-sections/contact.styl'

@import '../css/index.css'
