@require "../1-base/vars.styl"
.red
  &--button
    border: 2px solid $es-red
    // box-shadow: 2px 1px 3px $es-grey
    color: black
    cursor: pointer
    display: none
    float: right
    font-weight: 700
    height: 40px
    line-height: 37px
    margin-right: 3em
    margin-top: 40px
    position: relative
    text-align: center
    transition: box-shadow .2s ease-in-out, color .2s ease-in-out
    width: 75px
    &:hover
      color: $es-red
    &:active
      box-shadow: 1px 1px 3px $es-red
      left: 2px
      top: 2px
    +below($tablet-bp)
      display: inline-block
      z-index: 1

.section
  &--cta-button
    border: 0.1em solid tint($es-grey, 60%)
    color: $es-grey
    display: inline-block
    padding: 1.75em 3.5em
    margin-bottom: 1px
    transition: all .3s ease-in-out
    &:hover
      background-color: $es-red
      color: white

.to-top
  color: white
  font-size: 0.8em
  position: fixed
  margin: 1em 1em
  padding: 0.5em 0.75em
  border-radius: 6px
  right: 0
  bottom: 0
  z-index: 10
  text-align: center
  background-color: rgba($es-red, 0.8);
  transition: all 0.3s ease-in-out
  &:after
    content: '\2191'
    margin-left: .25em
  & .showing
    opacity: 1
    display: block
