@require "../1-base/vars.styl"
header
  margin-top: 0px
  font-weight: 700
  height: 125px
  padding: 20px 0px 0px 30px
  position: relative
  +below($tablet-bp)
    height: 80px

.header
  &--wrap
    will-change: height, margin-top
    margin-top: 0px
    position: relative
    height: 145px
    width: 100%
    top 0px
    transition-duration: 0.3s
    transition-timing-function: ease-in-out;
    transition-property: margin-top, height
    +below($tablet-bp)
      height: 100px
  &--logo
    height: 100px
    max-width: 100px
    column(1/4)
    display: inline-block;
    +below($tablet-bp)
      height: 60px
