@require "../1-base/vars.styl"
.header
  font-weight: 700
  height: 155px
  background: white
  padding: 20px 0px 0px 30px
  +below($tablet-bp)
    height: 80px


  &--wrap
    height: 100px
    width: 100%
  &--logo
    height: 100px
    max-width: 100px
    column(1/4)
    +below($tablet-bp)
      height: 60px
