@require "../1-base/vars.styl"
.nav
  column(3/4)
  text-align: right
  float: right
  margin-top: 75px
  +below($tablet-bp)
    margin-top: 0px
  &--menu-item
    display: inline-block
  &--menu-item-link
    padding: 1em
    color: $es-grey
    &:hover
      color: $es-red
  &--menu
    display: inline-block
    +below($tablet-bp)
      display: none
      width: 80%
