@require "../1-base/vars.styl"

//needed to ensure no gaps between nav-bar and content
.main
  position: relative;
  +below($tablet-bp)
    top: - $resp--menu-height
    margin-top: $resp--menu-height

input[type=checkbox]
  position: absolute
  top: -9999px
  left: -9999px
  &:checked ~ header
    margin-top: $resp--menu-height
  &:checked ~ .main
    margin-top: $resp--menu-height
  &:checked ~ .header--wrap
    margin-top: $resp--menu-height
