@require "../1-base/vars.styl"
.article
  &--info
    color: black
  &--header-hr
    width: 25%
    background-color: $es-red
    text-align: left
    margin-left: 0
    margin-right: 0
    margin-bottom: $default-margin
    margin-top: 5px
