@require "../1-base/vars.styl"
.l--text-center
  text-align: center
  // +below($tablet-bp)
  //   text-align: left

.l--text-right
  text-align: right
  +below($mobile-bp)
    text-align: left

.l--text-left
  text-align: left

.l--no-top-margin
  margin-top: 0
  +below($tablet-bp)
    margin-top: $default-margin

.l--no-bottom-margin
  margin-bottom: 0

.l--no-left-pad
  padding-left: 0rem

.l--no-right-pad
  padding-right: 0rem

.l--no-pad
  padding: 0rem 0rem

.l--full-w-img
  height: auto
  width: 100%
  // object-fit: cover;

.l--title
  margin-top: 0
  span(1/1)
  text-align: center;
  +below($tablet-bp)
    float:none;

.l--thin-text
  font-weight: 300

.drop-cap
  color: $es-red
  float: left
  font-family: 'Playfair Display', cursive
  font-size: 6em
  font-weight:400
  line-height: .76
  margin: 0
  padding: 0 .1em 0 0

.img-border
  border: 0.1em solid tint($es-grey, 60%)

.smooth-container
  scroll-behavior: smooth
