@require "../1-base/vars.styl"
.section
  &--center
    center(1333px)
    padding: 0 $default-margin

  &--left-col
    column(3/8)
    padding-left: $default-margin
    padding-right: 0
    overflow: hidden;
    position: relative
    +below($tablet-bp)
      stack()
      padding: 0 $default-margin
    &-shift
      padding-left: $default-margin
      padding-right: 0
      column(5/8)
      +below($tablet-bp)
        stack()
        padding: 0 $default-margin

  &--right-col
    column(5/8)
    padding-left: 0.5em
    padding-right: $default-margin
    position: relative;
    overflow: hidden;
    // margin-top: 30vh
    +below($tablet-bp)
      stack()
      padding: 0 $default-margin
    &-shift
      padding-left: 0.5em
      padding-right: $default-margin
      column(3/8)
      +below($tablet-bp)
        stack()
        padding: 0 $default-margin

  &--title
    span(1/1)
    text-align: center;
    +below($tablet-bp)
      float:none;
