@require "../1-base/vars.styl"
.section
  &--center
    center(1333px)

  &--left-col
    column(3/8)
    padding: 0 0.5em
    overflow: hidden;
    &-shift
      padding: 0 0.5em
      column(5/8)
      +below($mobile-bp)
        stack()
    +below($mobile-bp)
      stack()

  &--right-col
    column(5/8)
    padding: 0 0.5em
    position: relative;
    overflow: hidden;
    // margin-top: 30vh
    &-shift
      padding: 0 0.5em
      column(3/8)
      +below($mobile-bp)
        stack()
    +below($mobile-bp)
      stack()

  &--title
    span(1/1)
    text-align: center;
