@require "../1-base/vars.styl"
.section
  // height: 100vh
  // background-image: url("/assets/images/MeLineOpt.svg")
  // background-size: 100% 130%
  // background-repeat: no-repeat
  // background-position: -100px bottom
  // +below($tablet-bp)
  //   background-size: 120% 60%
  //   background-repeat: no-repeat
  //   background-position: -100px top
  // +below($mobile-bp)
  //   background-size: 100% 100%
  //   background-repeat: no-repeat
  //   background-position: -50px top
  &--center
    center(1600px)

  &--left-col
    column(3/8)
    padding 0 0.5em
    overflow: hidden;
    text-align: center
    +below($mobile-bp)
      stack()
    &-shift
      move(5/8)

  &--right-col
    column(5/8)
    padding 0 0.5em
    position: relative;
    overflow: hidden;
    // margin-top: 30vh
    &-shift
      move(-3/8)
    +below($mobile-bp)
      stack()

  &--title
    span(1/1)
    text-align: center;
  &--cta
    display: inline-block;
    border: 1px solid tint($es-grey, 50%)
    background-color: white
    width: 70%
    color: $es-grey
    padding: 1.75em
    transition: all 0.3s ease-in-out
    &:hover
      background-color: $es-red
      color: white
