edit()
@require "vars"

html
  box-sizing: border-box;

body
  background-color: $bg-colour
  font-family: Lato


a
  color: $es-red
  text-decoration: none;
  &:hover
    color: darken($es-red, 50%);

ul, li
  list-style: none;
  padding: 0
  margin: 0
