@require "vars"


html
  box-sizing: border-box;
  +below($tablet-bp)
    overflow-x: hidden

*, *:before, *:after
  box-sizing: inherit;

body
  background-color: $bg-colour

* + *
  margin-top: $default-margin

hr
  background-image: linear-gradient(to right, rgba($es-grey, 0.2), rgba($es-grey, 0.9), rgba($es-grey, 0.2));
  clear: both;
  width: (100vw / 1.618)%
  border: 0;
  height: 1px;

a
  color: $es-red
  text-decoration: none;
  font-weight: 700
  cursor: pointer
  &:focus
    outline: -webkit-focus-ring-color $es-grey 5px
  &:hover
    color: darken($es-red, 50%);

ul, li
  list-style: none;
  padding: 0
  margin: 0
// h2
//   margin-left: 1em
//   margin-right: 1em

article, section
  overflow: hidden;


/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
  background: tint($es-grey, 75%)
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $es-red
}
::-webkit-scrollbar-thumb:window-inactive {
	background: tint($es-red, 60%)
}

::-webkit-scrollbar-track:window-inactive
  background: white
