@require "vars"

html
  +below($tablet-bp)
    overflow-x: hidden

body
  background-color: white
//   font-family: Lato
//
// label
//   font-weight: 700

a
  color: $es-red
  text-decoration: none;
  font-weight: 700
  &:hover
    color: darken($es-red, 50%);

ul, li
  list-style: none;
  padding: 0
  margin: 0
