$bg-colour = white
$es-red = #BE1E2D
$es-grey = #999999
$blog-gradient-start = #f5f7fa
$blog-gradient-end = #c3cfe2

$tablet-bp = 768px
$mobile-bp = 400px

$resp--menu-height = 200px

$default-margin = 1.75rem
