$bg-colour = white
$es-red = #BE1E2D
$es-grey = #999999
$dawn-yellow = #F6D22F
$success-grad = #86e381
// $blog-gradient-start = rgba(#f5f7fa, 0.5)
// $blog-gradient-end = rgba(#c3cfe2, 0.5)

$tablet-bp = 768px
$mobile-bp = 400px

$resp--menu-height = 300px

$default-margin = 1.75em

$pic-border = 0.1em
