@require "../1-base/vars.styl"
.blog
  &--post
    background-image: linear-gradient(135deg, $blog-gradient-start 0, $blog-gradient-end 100%)
    margin-top: 0
    span(1/3 5/8, cycle: 3)
    cursor: pointer;
    +below($tablet-bp)
      span(1/2 5/8, cycle: 2)
    &:after
      content: ''
      display: block
      padding-top: 100%
    &-date
      margin-top: 0
      font-size: (1/1.618)em
    &:hover
      color: $es-grey

  &--data
    position: absolute
    font-size: 1em
    line-height: 1.2em
    padding: 0.8em
