@require "../1-base/vars.styl"
.contact
  &--form
    position: relative;
    width: 100%
    margin: 0 auto

textarea
  font-family: Lato

input
  width: 100%
  font-family: Lato
  border: solid 1px $es-grey

  &[type="text"]
    margin-bottom: 0
    border-bottom: none
