@require "../1-base/vars.styl"
.intro
  &--img
    height: 100%
    width: 200%
    margin-top: 1.75em
    object-fit: cover;
    transform-origin: left top
    +below($tablet-bp)
      width: 300%
      height: 100%
    +below($mobile-bp)
      width: 300%
      height: 150px
