@require "../1-base/vars.styl"
.photography
  // &--img-container
  //   position: relative;
  //   height: auto
  //   max-width: 1%
  //   object-fit: cover;
  &--img
    position: relative;
    height: auto
    max-width: 100%
    object-fit: cover;
    border: 0.3em solid tint($es-grey, 60%)
    margin-bottom: -6px
    // box-shadow: 2px 4px 10px $es-grey
  &--flying-img-container
    position: absolute;
    width: 15%
    right: -100%


  &--flying-img
    position: relative;
    width: 100%
    border: 0.1em solid ivory
    box-shadow: 2px 2px 8px black

.flying0
  transform: rotateZ(30deg);
  top: 60%
  right: 20%
  transition: all 1s ease-in-out

.flying1
  transform: rotateZ(-20deg);
  top: 10%
  right: 70%
  transition: all 1.5s ease-in-out

.flying2
  transform: rotateZ(8deg);
  top: 20%
  right: 40%
  transition: all 2s ease-in-out

.flying3
  transform: rotateZ(-24deg);
  top: 40%
  right: 30%
  transition: all 1.7s ease-in-out

.flying4
  transform: rotateZ(-40deg);
  top: 50%
  right: 80%
  transition: all 1.4s ease-in-out

.flying5
  transform: rotateZ(-23deg);
  top: 8%
  right: 90%
  transition: all 2.1s ease-in-out

.flying6
  transform: rotateZ(-10deg);
  top: 50%
  right: 68%
  transition: all 1.5s ease-in-out

.flying7
  transform: rotateZ(-13deg);
  top: 60%
  right: 43%
  transition: all 1.7s ease-in-out

.flying8
  transform: rotateZ(-15deg);
  top: 60%
  right: 54%
  transition: all 2s ease-in-out

.flying9
  transform: rotateZ(27deg);
  top: 7%
  right: 55%
  transition: all 1.3s ease-in-out

.flying10
  transform: rotateZ(3deg);
  top: 40%
  right: 50%
  transition: all 1.5s ease-in-out
